* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}

.intro-aboutMe-desktop {
  /* round edges */
  border-radius: 25px;
  padding: 10px;
  /* shadow */
  filter: drop-shadow(0px 8px 5px #000);
}
.intro-aboutMe-mobile {
  /* round edges */
  border-radius: 25px;
  padding: 12px;

  /* shadow */
  filter: drop-shadow(3px 3px 1px #000);
  width: 100vw;
}

.lg-text-desktop {
  font-size: 2rem;
  font-weight: bold;
}
.lg-text-mobile {
  white-space: pre-line;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.sm-text-desktop {
  margin-top: 0;
  font-size: 1rem;
}
.sm-text-mobile {
  font-size: 10px;
}

.mobile-ratio {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
body {
  padding: 0;
  margin: 0 0 200px 0;
}

.diagonal-hero-bg {
  background: #2b5876; /* fallback for old browsers */

  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
